.post-outdated {
  .hint {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-left: 4px solid rgb(66, 172, 243);
    background-color: rgb(255, 218, 149);
    border-color: rgb(66, 172, 243);
  }

  .warn {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-left: 4px solid #f92a04;
    background-color: #ff987b;
    border-color: #F92A04;
  }
}




